<html>
    <body>
    <h1>Hyphenator</h1>

    Imagine you have text like this:
    <div style="width: 100px; border-style:solid; border-width:medium;">
        {{ "Ceci est à remplacer par une fâble." }}
    </div>
    <br />
    Simply use the "|hyphenate" filter to automatically add soft-dashes:
    <div style="width: 100px; border-style:solid; border-width:medium;">
        {{ "Ceci est à remplacer par une fâble."|hyphenate("fr") }}
    </div>
    <br />
    Here is the actual HTML code that was generated:
    <div>
        {{ "Ceci est à remplacer par une fâble."|hyphenate("fr")|escape }}
    </div>

    Let's use the default language as well:
    <div style="width: 100px; border-style:solid; border-width:medium;">
        {{ "We have some really long words in german like sauerstofffeldflasche."|hyphenate }}
    </div>

    </body>
</html>
